<nav class="navbar navbar-expand-lg navbar-dark">
	<div class="container">
		<a class="navbar-brand d-flex align-items-center" routerLink="/">
			<img src="https://media.licdn.com/dms/image/v2/D4D03AQFaS1POFEntxw/profile-displayphoto-scale_100_100/B4DZhj4yPyGgAc-/0/1754022489202?e=1766620800&v=beta&t=TvHcyylkQx1ETR7bdIpanG1iPTkhQNSifXO5jwybMb8"
				alt="Logo" class="me-3" />
			PC Store
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="navbar-nav ms-auto">
				<a class="nav-link" routerLink="/" routerLinkActive="active">Accueil</a>
			</div>
		</div>
	</div>
</nav>